<h1> Verifica tu Cuenta</h1>
<p>Hola {{ name }},</p>
<p>Para verificar tu cuenta, haz click en el siguiente enlace:</p>
<p><a href="{{ url }}">{{ url }}</a></p>  
<p> Este Enlace Caduca en 24 Horas</p>  
<p>¡Muchas gracias!</p>